/* General Blueprint Style */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);


*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0;}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    color: #47a3da;
}

a {
	color: #ccc;
	text-decoration: none;
	outline: none;
}

.bordered-link {
  display: inline-block;
  padding: 8px;
  border: 3px solid #26BBFC;
  border-radius: 6px;
  box-shadow:
    0 2px 1px rgba(0, 0, 0, 0.2), 
    inset 0 2px 1px rgba(0, 0, 0, 0.2);
    
  /* Font styles */
  text-decoration: none;
  font-size: 14px;
  color: #222;
}

.bordered-link:hover  { border-color: #FDD68B; }
.bordered-link:active { border-color: #FEE8BD; }


a:hover {
	color: #000;
	text-decoration: none;
}

.container {
	width: 100%;
	max-width: 69em;
	margin: 0 auto;

}

.container > h1 {
	font-size: 2.125em;
	line-height: 1.3;
	margin: 0 0 0.6em 0;
	float: left;
	font-weight: 400;
}

.container > span {
	display: block;
	position: relative;
	z-index: 9999;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.5em;
	padding: 0 0 0.6em 0.1em;
}

.container > span span:after {
	width: 30px;
	height: 30px;
	left: -12px;
	font-size: 50%;
	top: -8px;
	font-size: 75%;
	position: relative;
}

.container > span span:hover:before {
	content: attr(data-content);
	text-transform: none;
	text-indent: 0;
	letter-spacing: 0;
	font-weight: 300;
	font-size: 110%;
	padding: 0.8em 1em;
	line-height: 1.2;
	text-align: left;
	left: auto;
	margin-left: 4px;
	position: absolute;
	color: #fff;
	background: #47a3da;
}

.container > nav {
	float: right;
	text-align: center;
}

.container > nav a {
	display: inline-block;
	position: relative;
	text-align: left;
	width: 2.5em;
	height: 2.5em;
	background: #fff;
	border-radius: 50%;
	margin: 0 0.1em;
	border: 4px solid #47a3da;
}

.container > nav a > span {
	display: none;
}

.container > nav a:hover:before {
	content: attr(data-info);
	color: #47a3da;
	position: absolute;
	width: 600%;
	top: 120%;
	text-align: right;
	right: 0;
	pointer-events: none;
}

.container > nav a:hover {
	background: #47a3da;
}

/*.bp-icon:after {
	font-family: 'bpicons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-align: center;
	color: #47a3da;
	-webkit-font-smoothing: antialiased;
}*/

.container > nav .bp-icon:after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	line-height: 2;
	text-indent: 0;
}

.container > nav a:hover:after {
	color: #fff;
}

/*.bp-icon-next:after {
	content: "\e000";
}
.bp-icon-drop:after {
	content: "\e001";
}
.bp-icon-archive:after {
	content: "\e002";
}
.bp-icon-about:after {
	content: "\e003";
}
.bp-icon-prev:after {
	content: "\e004";
}*/

p.info {
	text-align: center;
	padding: 20px;
}

@media screen and (max-width: 55em) {

	.container > h1,
	.container > nav {
		float: none;
	}

	.container >span,
	.container > h1 {
		text-align: center;
	}

	.container > nav {
		margin: 0 auto;
	}

	.container > span {
		text-indent: 30px;
	}
}
.demo-7 .container {
	width: 100%;
	position: absolute;
	height:100%;
	-webkit-transition: -webkit-transform 0.5s cubic-bezier(0.7, 0, 0.3, 1) 0.1s;
	transition: transform 0.5s cubic-bezier(0.7, 0, 0.3, 1) 0.1s;
}

.no-js.demo-7 .container {
	width: calc(100% - 300px);
	right: 0;
}

.pushed.container {
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	-webkit-transform: translateX(300px);
	transform: translateX(300px);
}

@media screen and (max-width: 770px) {
	.mockup-left {
		float: none;
		margin: 0 auto 20px;
	}

	.mockup-right {
		text-align: center;
	}

	.joiner {
		display: block;
	}
}

@media screen and (max-width: 400px) {
	.mockup-content > span:nth-last-child(2) {
		width: calc(100% - 210px);
	}
}

@media screen and (max-width: 25em) {

	.codrops-icon span {
		display: none;
	}

}

@media screen and (max-width: 55em) {

	.container > h1,
	.container > nav {
		float: none;
	}

	.container > span,
	.container > h1 {
		text-align: center;
	}

	.container > nav {
		margin: 0 auto;
	}

	.container > span {
		text-indent: 30px;
	}
}