.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

input#signupName:required:invalid, input:focus:invalid {
	 background-image: url(/img/icons/invalid.png);
    background-position: right top;
    background-repeat: no-repeat;
}
input#signupName:required:valid {
	background-image: url(/img/icons/valid.png);
    background-position: right top;
    background-repeat: no-repeat;
}

input#signupPassword:required:invalid, input:focus:invalid {
	 background-image: url(/img/icons/invalid.png);
    background-position: right top;
    background-repeat: no-repeat;
}
input#signupPassword:required:valid {
	background-image: url(/img/icons/valid.png);
    background-position: right top;
    background-repeat: no-repeat;
}

input#signinName:required:invalid, input:focus:invalid {
	 background-image: url(/img/icons/invalid.png);
    background-position: right top;
    background-repeat: no-repeat;
}
input#signinName:required:valid {
	background-image: url(/img/icons/valid.png);
    background-position: right top;
    background-repeat: no-repeat;
}
input#signinPassword:required:invalid, input:focus:invalid {
	 background-image: url(/img/icons/invalid.png);
    background-position: right top;
    background-repeat: no-repeat;
}
input#signinPassword:required:valid {
	background-image: url(/img/icons/valid.png);
    background-position: right top;
    background-repeat: no-repeat;
}